In [1]:
from Station import Station

In [4]:
label = 'Stanmore, Wolverton Road'

station = Station(label)

print(station)

df = station.getWaterLeveldf()

df

Station: Stanmore, Wolverton Road at (51.610531,-0.313052) in town: Stanmore on river: Edgware Brook, catchment area: Brent (Brooks)

                     Date  Water Level
0    2022-03-12T08:45:00Z        0.132
1    2022-02-28T00:00:00Z        0.107
2    2022-02-28T00:15:00Z        0.107
3    2022-02-28T00:30:00Z        0.107
4    2022-02-28T00:45:00Z        0.107
..                    ...          ...
495  2022-03-05T03:30:00Z        0.244
496  2022-03-05T03:45:00Z        0.244
497  2022-03-05T04:00:00Z        0.243
498  2022-03-05T04:15:00Z        0.242
499  2022-03-05T04:30:00Z        0.242

[500 rows x 2 columns]